@font-face {
  font-family: "CursedTimer";
  src: url("./CursedTimerUlil-Aznm.woff") format("woff"),
       url("./CursedTimerUlil-Aznm.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
    margin: 0;
    background-color: #1B244A;
    font-family: "CursedTimer", sans-serif;
    text-shadow: 0 0 2px black;
}

.container {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    
}

.btn-section {
    justify-content: space-between;
    padding-top: 26px;
}
    
.btn-guest {
    width: 45px;
    height: 45px;
    background-color: #1B244A;
    border: 1.6px solid #EEEEEE80;
    color: #EEEEEE80;
    font-family: inherit;
    padding: 9px 8px 8px 7px;
    border-radius: 3px;
    text-shadow: 0 0 2px black;
}

.btn-home {
    width: 45px;
    height: 45px;
    background-color: #1B244A;
    border: 1.6px solid #EEEEEE80;
    color: #EEEEEE80;
    font-family: inherit;
    padding: 9px 8px 8px 7px;
    border-radius: 3px;
    text-shadow: 0 0 2px black;
}

#reset {
    width: 90px;
    height: 60px;
    background-color: #1B244A;
    border: 1.6px solid #EEEEEE80;
    color: #EEEEEE;
    font-family: inherit;
    padding: 3px 10px 2px 10px;
    border-radius: 3px;
    text-shadow: 0 0 3px #F94F6D80;
}

.score-box {
    width: 155px;
    height: 120px;
    background-color: #080001;
    border: 1px solid black;
    border-radius: 5px;
    color: #F94F6D;
    text-shadow: 0 0 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "CursedTimer", sans-serif;
    padding-top: 10px;
}

h3 {
   text-align: center;
   font-size-adjust: 1;
   color: #EEEEEE;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
  color: #F94F6D;
  font-size-adjust: 3.7;
}